* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    text-align: center;
    background-color: beige;
    padding-top: 20px;
    padding-bottom: 15px;
}

.parrafo{
    width: 50%;
    border: 1px sandybrown;
    padding: 15px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.despedida{
    border: 3px solid rgb(45, 53, 63);
    background-color: rgb(93, 197, 154);
    color: rgb(22, 20, 20);
    cursor: pointer;
}

.despedida:hover{
    color: blue;
}