* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    font-size: 35px;
    text-align: center;
    background-color: beige;
    padding-top: 20px;
    padding-bottom: 15px;
}

.parrafo{
    width: 50%;
    border: 1px sandybrown;
    padding: 15px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.despedida{
    border: 3px solid rgb(78, 122, 177);
    background-color: rgb(144, 165, 156);
    color: rgb(22, 20, 20);
    cursor: pointer;
}

.despedida:hover{
    color: blue;
}

h1{
    font-size: 22px;
}

p.incli{
    font-style: italic;
}

h1{
    color: green;
}

.div-img{
    display: flex;
    justify-content: center;
}